<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Job Search Keyword Analyzer</h1>
<form method="post" id="post-form">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
<div id="results">
    <div id="urls"></div>
    <div id="progress"></div>
    <ul id="word_frequency"></ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
{% load staticfiles %}
{#<script src="/static/job_analysis/job_analysis.js"></script>#}
<script src="{% static 'job_analysis/job_analysis.js' %}"></script>
</body>
</html>